

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16pt;
    font-weight: 400;
}


h1 {
    font-size: 48pt;
    font-weight: 700;
}

h2 {
    font-size: 38pt;
    font-weight: 700;
}

h3 {
    font-size: 30pt;
    font-weight: 700;
}

label {
    font-size: 14pt;
    font-weight: 300;
}

info {
    font-size: 12pt;
    font-weight: 300;
}